@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2")
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2")
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  color: #000000;
  background-color: #f2f2f2;
  font-size: 22px;
  line-height: 26px;
  height: 100%;
}

.page-wrapper {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  padding: 0 70px;
}

.navigation {
  display: flex;
  flex-grow: 1;
}

.page-header-logo {
  width: 140px;
  height: 70px;
  margin-bottom: -6px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-left: 30px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-item .button {
  margin-left: 20px;
}

.main-index {
  flex-grow: 1;
}

.intro {
  color: #ffffff;
  background-color: #467aa4;
  background-image: url("../images/backgrounds/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 51px 50px 82px 50px;
}

.intro-welcome {
  margin-left: auto;
  margin-right: auto;
}

.advantages {
  background-color: #ffffff;
  text-align: center;
}

.advantages-headline {
  padding: 69px 270px;
}

.advantages-head {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.advantages-caption {
  margin: 0;
}

.advantages-card {
  display: flex;
}

.advantages-card-content {
  padding: 102px 85px;
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.advantages-photo {
  width: 800px;
  height: auto;
}

.advantages-item {
  padding: 113px 85px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 62px 0;
}

.advantages-description{
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.offers {
  background-color: #ffffff;
  text-align: center;
}

.offers-headline {
  padding: 64px 347px;
}

.offers-head {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.offers-caption {
  margin: 0;
}

.offers-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.offers-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.offers-card-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.offers-card {
  background-color: rgba(131, 179, 211, 0.12);
  padding: 81px 85px;
  min-height: 385px;
}

.offers-card:nth-child(even) {
  background-color: #ffffff;
}

/*
.offers-card-live::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  background-image: url("../images/icons/home.svg");
}

.offers-card-food::before {
  content: "";
  position: absolute;
  width: 74px;
  height: 70px;
  background-image: url("../images/icons/food.svg");
}

.offers-card-souvenirs::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 76px;
  background-image: url("../images/icons/gift.svg");
}
*/

.search{
  background-color: #ffffff;
  text-align: center;
  padding: 96px 304px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.search-caption {
  margin: 0 0 54px 0;
}

.subscription {
  color: #ffffff;
  background-color: #467aa4;
  background-image: url("../images/backgrounds/subscribe.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 96px 258px 104px 258px;
}

.subscription-form input {
  font-family: inherit;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  width: 452px;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.subscription-caption {
  margin: 0 auto 54px auto;
  max-width: 480px;
}

.subscription-form {
  display: flex;
}

.subscription-form .button {
  border-radius: 0 4px 4px 0;
  flex-grow: 1;
}

.search-form {
  color: #ffffff;
  background-color: #467aa4;
  background-image: url("../images/backgrounds/filter.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px;
  padding-top: 35px;
}

.inner-header {
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 8px 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 23px;
  list-style: none;
  padding: 0;
  margin: 0 0 43px 0;
}

/*
.breadcrumbs-link-home::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 15px;
  background-image: url("../images/icons/home-crumbs.svg");
}
*/

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.legend-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.hotels-price-group input {
  font-family: inherit;
}

.catalog-filter-list {
  font-size: 18px;
  line-height: 23px;
  list-style: none;
  padding-left: 0;
}

.price-inbox {
  font-size: 18px;
  line-height: 23px;
}

.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog {
  background-color: #ffffff;
  color: #000000;
  padding: 50px 70px 60px 70px;
}

.catalog-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-total {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 292px;
  height: 49px;
}

.select-control select {
  font-family: inherit;
}

.list-preview {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-list {
  list-style: none;
  padding: 0 0 40px 0;
  margin: 0 0 40px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.product-card {
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.product-card-link {
  text-decoration: none;
  display: block;
  margin: 0;
}

.product-card-image {
  margin: 0 0 16px 0;
}

.product-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 16px 0;
}

.product-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
}

.product-card-text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: #333333;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  justify-self: end;
  color: #333333;

}

.product-card .rating {
  color: #333333;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.stars {
  margin: 0;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  min-width: 60px;
  height: 60px;
  border-radius: 4px;
  padding: 12px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-next {
  color: #000000;
  background-color: #ffffff;
}

.subscription-inner {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
}

.button {
  display: inline-flex;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  justify-content: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px;
  margin: 0;
  border: none;
  border-radius: 4px;
  font-family: inherit;
}

.button-blue {
  background-color: #82b3d3;
}

.button-brown {
  background-color: #756157;
}

.button-green {
  background-color: #7db54f;
}

.button-transparent {
  background-color: rgba(255, 255, 255, 0);
}

.button-grey {
  background-color: #f2f2f2;
  color: #000000;
}

.page-footer {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 40px 70px 30px 70px;
}

.social-media {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.phone-link {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}
